.background {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    
}

body {
    color: white;
}

a {
    text-decoration: none;
    color: unset;
}

p {
    height: fit-content;
}

nav {
    height: fit-content;
}

.title {
    background: green;
    letter-spacing: 10px;
    padding-left: 10rem;
    font-style: italic;
}

.sub-title {
    background: green;
    padding-left: 8px;
    max-width: 50%;
}

footer {
    border-top: 2px solid green;
}